# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
# _sass/vendors
# assets/js/dist

# Hidden system files
*~
.DS_Store
Thumbs.db

# Local source images
/assets/post_image/A_原图/
/assets/img/原图/
/assets/img/原图/
